<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Search Engine</title>
</head>
<body>
  <h1>Welcome to Your Search Engine</h1>
  <!-- Your HTML content here -->
  <!-- src/views/index.ejs -->
  <%-include ('partials/login.ejs') %>



</body>
</html>
