<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Profile</title>
</head>
<body>

  <div class="content">
    <p><%= user.name %>'s Profile</p>
    <p>Email: <%= user.email %></p>

    <form action="/search" method="POST">
      <label for="query">Search:</label>
      <input type="text" id="query" name="query" required>
    
      <label for="source">Data Source:</label>
      <select id="source" name="source" required>
        <option value="postgres">PostgreSQL</option>
        <option value="mongo">MongoDB</option>
        <option value="both">Both</option>
      </select>
    
      <button type="submit">Search</button>
      
    </form>
    

    
   
  </div>
  <%- include('./partials/logout.ejs') %>
</body>
</html>