<html lang="en">
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h1>sample.two.ejs</h1>
        </div>
        </br>
        <%- include('./partials/logout.ejs') %>
    </body>
</html>